.App {
  text-align: center;
}

.big-logo {
  height: 50px;
  width: 50px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.app-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .ingredient-list {
  background-image: url('../list-bg.png');
} */

ul {
  display: flex;
  flex-direction: column;
  
}

li {
  list-style: none;
}

.footer-one {
  display: flex;
  justify-content: space-between;
}

.author-img {
  float: left;
}

/* .feet {
}

.share {
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
